body {
  font-family: sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: rgb(red, green, blue);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
  width: 400px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input [type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #d6dadd;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
li span {
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

li button {
  background-color: #dc3545;
}